[submodule "mobilevrs_project/django_eav"]
	path = mobilevrs_project/django_eav
	url = https://github.com/unicefuganda/django-eav.git
[submodule "mobilevrs_project/rapidsms_uganda_ussd"]
	path = mobilevrs_project/rapidsms_uganda_ussd
	url = https://github.com/unicefuganda/rapidsms-uganda-ussd.git
[submodule "mobilevrs_project/rapidsms_xform_src"]
	path = mobilevrs_project/rapidsms_xform_src
	url = https://github.com/unicefuganda/rapidsms-xforms.git
[submodule "mobilevrs_project/rapidsms"]
	path = mobilevrs_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms.git
[submodule "mobilevrs_project/rapidsms_uganda_common"]
	path = mobilevrs_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common.git
[submodule "mobilevrs_project/rapidsms_script"]
	path = mobilevrs_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script.git
[submodule "mobilevrs_project/rapidsms_polls"]
	path = mobilevrs_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "mobilevrs_project/rapidsms_httprouter_src"]
	path = mobilevrs_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter.git
[submodule "mobilevrs_project/rapidsms_generic"]
	path = mobilevrs_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic.git
